<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    
                    <div class="card-body">
                        <p>
                            კლიენტების მართვა, ანგარიშების მართვა და სხვა ფუნქციები
                        </p>
                        <p>
                            სერვისის მისაღებად გთხოვთ გაიაროთ ავტორიზაცია
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>